# Name of the host where n8n is running. This is used to generate the webhook URLs.
N8N_HOST=dominio.com
WEBHOOK_URL=https://tu-dominio.com

# Internal Security: Define a secure key to encrypt credentials in the database
N8N_ENCRYPTION_KEY=EncryptionKey123456789012345678901234567890

# Correct timezone for Santo Domingo (Avoids timing issues in your time nodes)
GENERIC_TIMEZONE=TZ-Timezone
TZ=Tz-Timezone

# Secure Cookie False. Permite entrar a la web sin https.
N8N_SECURE_COOKIE=example
NODE_ENV=example
N8N_BLOCK_TELEMETRY=example 
N8N_PROTOCOL=https