# Nombre o IP del servidor para que n8n sepa dónde está parado
N8N_HOST=domionio.com
WEBHOOK_URL=https://tu-dominio.com

# Seguridad interna: Define una clave segura para encriptar las credenciales en la base de datos
N8N_ENCRYPTION_KEY=EncryptionKey123456789012345678901234567890

# Zona horaria correcta para Santo Domingo (Evita desfases en tus nodos de tiempo)
GENERIC_TIMEZONE=TZ-Timezone
TZ=Tz-Timezone

# Secure Cookie False. Permite entrar a la web sin https.
N8N_SECURE_COOKIE=example
NODE_ENV=example
N8N_BLOCK_TELEMETRY=example 
N8N_PROTOCOL=https